clawds-macbook-pro.taild6b854.ts.net:8443 {
    tls cert.pem key.pem
    
    @websocket {
        path /gateway
    }
    reverse_proxy @websocket localhost:18789

    @api {
        path /api/*
    }
    reverse_proxy @api localhost:8787

    header {
        Cache-Control "no-store"
    }

    root * .
    file_server
}
